/**
 * Premise Portfolio CSS
 */

/*
	Global Styles

	@scope #pwpp-single-portfolio
 */

#pwpp-single-portfolio * {
	box-sizing: border-box;
}

#pwpp-single-portfolio .pwpp-container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

#pwpp-single-portfolio .pwpp-post-title {
	padding: 25px 0;
}

#pwpp-single-portfolio .pwpp-post-title h1 {
	margin-top: 0;    /* Make sure no extra space is added by theme */
	margin-bottom: 0; /* Make sure no extra space is added by theme */
}

#pwpp-single-portfolio .pwpp-post-thumbnail {
	padding-top: 75%;
	background-size: cover;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

#pwpp-single-portfolio .pwpp-custom-fields-container {
	display: inline-block;
}

#pwpp-single-portfolio .pwpp-post-thumbnail,
#pwpp-single-portfolio .pwpp-post-content,
#pwpp-single-portfolio .pwpp-post-category,
#pwpp-single-portfolio .pwpp-post-tags {
	display: block;
	margin-bottom: 30px;
}



/* The Portfolio Grid */

#pwpp-portfolio-grid .pwpp-item {
	margin-bottom: 30px;
	padding: 0 10px;
	cursor: pointer;
}

#pwpp-portfolio-grid .pwpp-item-inner {
	position: relative;
	margin: 0;
	width: 100%;
	padding: 75% 0 0 0;
	cursor: pointer;
	border: 0;
	overflow: hidden;
	box-shadow: 0 0 1px 0 #ccc;
}

#pwpp-portfolio-grid .pwpp-item .pwpp-post-title,
#pwpp-portfolio-grid .pwpp-item .pwpp-post-thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#pwpp-portfolio-grid .pwpp-item .pwpp-post-title {
	line-height: 40px;
	padding: 5px 10px;
	white-space: nowrap;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.9 );
}

#pwpp-portfolio-grid .pwpp-item .pwpp-post-title h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 35px;
	vertical-align: middle;
	text-align: left;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
}

#pwpp-portfolio-grid .pwpp-item .pwpp-post-thumbnail {
	height: 100%;
	background-size: cover;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	transition: top .4s 0s ease-in-out, opacity .4s 0.2s ease-in-out;
}

#pwpp-portfolio-grid .pwpp-post-excerpt {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 60px 10px 10px 10px; /* Account for 50px the thumbnails slides down for plus the 10px additional padding across all sides */
	transition: top .4s .4s ease-in-out;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.8 );
	overflow: auto;
	box-sizing: border-box;
}

#pwpp-portfolio-grid .pwpp-item:hover .pwpp-post-thumbnail {
	top: 50px;
	opacity: 0.6;
}

#pwpp-portfolio-grid .pwpp-item:hover .pwpp-post-excerpt {
	top: 0;
	z-index: 8;
}

#pwpp-portfolio-grid .pwpp-item:hover .pwpp-post-title {
	z-index: 9;
}


/*@media screen and ( min-width: 768px ) {
	#pwpp-portfolio-grid .pwpp-item {
		width: 50%;
	}
}


@media screen and ( min-width: 1024px ) {
	#pwpp-portfolio-grid .pwpp-item {
		width: 33.33%;
	}
}*/


/* The CTA */

#pwpp-single-portfolio .pwpp-post-cta,
#pwpp-portfolio-grid .pwpp-post-cta {
	text-align: center;
	margin: 30px 0;
}

/* The cta basic styles - anything that is not controled by the backend aoptions. */
#pwpp-single-portfolio .pwpp-post-cta-url,
#pwpp-portfolio-grid .pwpp-post-cta-url {
	display: inline-block;
	padding: 20px 45px;
	border: 1px solid #ccc;
	border-radius: 5px;
}